html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  overflow: hidden;
}

structured-content-container,
structured-content-container > .container,
message-content,
.markdown,
.attachment-container,
response-element,
generative-ui-frame,
.generative-ui-frame-container,
.iframe-components-container,
.iframe-container,
.iframe-container iframe {
  width: 100%;
  height: 100%;
}

.iframe-container iframe {
  border: 0;
  display: block;
}

structured-content-container {
  flex: 1 1 auto;
}

structured-content-container,
.iframe-container iframe {
  width: 100vw;
  height: 100vh;
}
